tap "aws/tap"
tap "goreleaser/tap"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "jesseduffield/lazygit"
brew "actionlint"
brew "asdf"
brew "cryptography"
brew "aws-sam-cli"
brew "bash"
brew "bat"
brew "chezmoi"
brew "commitizen"
brew "conftest"
brew "curl"
brew "direnv"
brew "eza"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "go-task"
brew "gofumpt"
brew "golangci-lint"
brew "hopenpgp-tools"
brew "htop"
brew "jq"
brew "neovim"
brew "nvm"
brew "opa"
brew "packer"
brew "pinentry-mac"
brew "pre-commit"
brew "ripgrep"
brew "stow"
brew "terraform-docs"
brew "tflint"
brew "tmux"
brew "virtualenv"
brew "wget"
brew "yarn"
brew "ykpers"
brew "zoxide"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "goreleaser/tap/goreleaser"
brew "hashicorp/tap/vault"
brew "hashicorp/tap/waypoint"
brew "jandedobbeleer/oh-my-posh/oh-my-posh"
brew "jesseduffield/lazygit/lazygit"
cask "docker"
cask "drawio"
cask "font-fira-code-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "gpg-suite-no-mail"
cask "insomnia"
cask "notunes"
cask "visual-studio-code"
cask "wezterm"
vscode "bung87.rails"
vscode "bung87.vscode-gemfile"
vscode "davidanson.vscode-markdownlint"
vscode "eamodio.gitlens"
vscode "equinusocio.vsc-community-material-theme"
vscode "equinusocio.vsc-material-theme"
vscode "equinusocio.vsc-material-theme-icons"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "github.vscode-github-actions"
vscode "glebbash.opa-highlight-only"
vscode "golang.go"
vscode "hashicorp.terraform"
vscode "ms-azuretools.vscode-docker"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode.makefile-tools"
vscode "ms-vsliveshare.vsliveshare"
vscode "redhat.java"
vscode "shopify.ruby-lsp"
vscode "sianglim.slim"
vscode "streetsidesoftware.code-spell-checker"
vscode "visualstudioexptteam.intellicode-api-usage-examples"
vscode "visualstudioexptteam.vscodeintellicode"
vscode "vscjava.vscode-gradle"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-java-dependency"
vscode "vscjava.vscode-java-pack"
vscode "vscjava.vscode-java-test"
vscode "vscjava.vscode-maven"
vscode "wingrunr21.vscode-ruby"
